<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is design</title>
</head>
<body>
    <form method="POST" th:object="${design}">
        <div th:each="ingredient : ${wrap}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
            <span th:text="${ingredient.name}">INGREDIENT</span>
        </div>
        <h3>Name your taco creation:</h3>
        <input type="text" name="name"/>
        <button type="submit">Submit your taco</button>
    </form>
</body>
</html>